<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <div class="col-md-12 col-sm-12">
    <div class="container">
    <div class= "card">
        <div class ="card-header">
            <h3>Añadir - Exámen Final</h3>
        </div>
        <div class = "card-body">
            <form action="">
                <div class ="form-group">
                    <label for="materia"> Materia</label>
                    <input type="text" class= "form-control" name="materia" required [(ngModel)]="newExam.materia"> 
                </div>
                <br> 
                <div class = "form-group">
                    <label for="FechaInicioEstudio">Fecha cuándo empezaste a estudiar</label>
                    <input type="date" class="form-control" [ngModel]="newExam.inicioEstudioDate | date: 'yyyy-MM-dd'" name="inicioEstudioDate" [(ngModel)]="newExam.inicioEstudioDate">
                </div>
                <br>
                <div class = "form-group">
                    <label for="FechaExamen">Fecha Examen</label>
                    <input type="date" class="form-control" [ngModel]="newExam.finalTestDate | date: 'yyyy-MM-dd'" name="finalTestDate" [(ngModel)]="newExam.finalTestDate">
                </div>
                <br>
                <button (click)="addFinal()" [hidden]="this.edit" class ="btn btn-success">Añadir Final</button>
                <button (click)="updateFinal(newExam)" [hidden]="!this.edit" class ="btn btn-success" >Actualizar Final</button>
            </form>
        </div>
    </div>
    </div>
</div>