<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <a routerLinkActive="active" routerLink="/home">Home </a>
  <a routerLinkActive="active" routerLink="/login"> Login </a>
  <a routerLinkActive="active" routerLink="/login"> Logout </a>
</div>
<hr>
<router-outlet></router-outlet>
