<div class="container col-md-6"> 
    <div class="container" style="margin-top: 30px">
        <div class="jumbotron jumbotron-fluid">
           <div class="container">
           <h1 class="display-9">Planificaciones creadas</h1>
           <p class="lead">Recuerde que una planificación estándar considera una estimación de 4 días por cada tema, mientras que una planificación rápida únicamente dos días.
               Además para poder crear una, es necesario tener un listado de objetivos definidos. 
           </p>
           </div>
        </div>
     </div>
    <div class= "card">
        <div class ="card-header">
            <h3>Añadir - Nueva Planificación</h3>
        </div>
        <div class = "card-body">
            <form action="">
                <div class ="form-group">
                    <label for="modo">Seleccione el modo que desea:</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Action
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                      </div>
                      
                </div>
                <br> 
                <br>
                <button class ="btn btn-success">Crear</button>
            </form>
        </div>
    </div>
</div>
