<div class="col-md-12 col-sm-12">
   <div class="container">
      <div class="card">
         <div class= "card-header">
             <h3>Examen seleccionado</h3>
         </div>
         <div class="card-body">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th> Éxamen ID</th>
                     <th> Materia</th>
                     <th> Fecha Inicio</th>
                     <th> Fecha Final</th>
                  </tr>
               </thead>
               <tbody>
                 <tr class="text-center">
                    <td>{{examSelected.id}}</td>
                    <td>{{examSelected.materia}}</td>
                    <td>{{examSelected.inicioEstudioDate | date: 'mediumDate'}}</td> 
                    <td>{{examSelected.finalTestDate | date: 'mediumDate'}}</td>
                 </tr>
              </tbody>
            </table>
         </div>  
      </div>
   </div>
   <div class="container">
      <div class="card">
         <div class= "card-header">
             <h5>Temario</h5>
         </div>
         <div class="card-body">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Nombre de Unidad</th>
                  </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let goal of this.goals" class="text-center">
                    <td>{{goal.objetivo}}</td>
                  </tr>
              </tbody>
            </table>
          </div>  
      </div>
   </div>
   <div class="container" style="margin-top: 30px">
      <div class="jumbotron jumbotron-fluid">
         <div class="container">
         <h1 class="display-10">Planificaciones creadas</h1>
         <p class="lead">Recuerde que una planificación estándar considera una estimación de 4 días por cada tema, mientras que una planificación rápida únicamente dos días.</p>
         <button class="btn btn-dark" (click)="goToCreatePlanning()" style="margin-left: 10px">Crear nueva planificación</button>
         </div>
      </div>
   </div>
     <div class="container" style="margin-top: 30px">
       <div class="card">
          <div class= "card-header">
              <h3>Listado</h3>
          </div>
          <div class="card-body">
             <table class="table table-hover">
                <thead>
                   <tr>
                      <th>Planificación ID</th>
                      <th>Modo </th>
                      <th>Cant días faltantes</th>
                      <th>Cant días necesarios</th>
                      <th> Acciones</th>
                   </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let planning of this.planificaciones" class="text-center">
                     <td>{{planning.id}}</td>
                     <td>{{planning.modo.modo}}</td>
                     <td>{{planning.cantDiasReales}} días</td> 
                     <td>{{planning.cantDiasNecesarios}} días</td>
                     <td>
                        <button class="btn btn-warning">Editar</button>
                        <button (click)="deletePlanning(planning)" class="btn btn-danger" style="margin-left: 5px">Delete</button>
                     </td>
                  </tr>
               </tbody>
         </table>
      </div>  
   </div>
</div>

