<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
   <div class="home-main-text">
      <h2>Asistente de Estudio</h2>
      <p>Organizá tus tiempos de estudio</p>
   </div>
 </div>
 <div class="main">
   <div class="col-md-6 col-sm-1">
     <div class="register-form">
        <h3>Exámenes Finales</h3>
     </div>
    </div>
 </div>